# Python
__pycache__/
*.py[cod]
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env
*.env

# Data files
data/*
*.parquet
*.csv
*.csv.gz

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
!data/.gitkeep
